<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Entendendo MVC</title>
</head>
<body>
<h1>Lista de alunos</h1>
<hr>
    <table>
        <thead>
        <tr>
            <th> Matricula</th>
            <th> Nome </th>
            <th> P1 </th>
            <th> P2 </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="aluno:${alunos}">
            <td th:text="${aluno.matricula}">Matricula</td>
            <td th:text="${aluno.nome}">Nome</td>
            <td th:text="${aluno.p1}">p1</td>
            <td th:text="${aluno.p2}">p2</td>

        </tr>
        </tbody>
    </table>
</body>
</html>